:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.85em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 0 1px 15px gray; */
  padding: 20px 40px;
}

header div {
  display: flex;
  align-items: center;
  font-size: 21px;
  gap: 20px;
  cursor: pointer;
}
header img {
  height: 50px;
  width: 50px;
}
header p {
  font-size: 20px;
  font-weight: bold;
}

.view-buttons {
  display: flex;
  justify-content: center;
}
.view-buttons button:first-child {
  border-radius: 6px 0 0 6px;
}
.view-buttons button:last-child {
  border-radius: 0 6px 6px 0;
}
.active {
  background-color: #646cff;
}

.leaflet-container {
  width: 90vw;
  height: 75vh;
  margin: 0 auto;
  margin-top: 20px;
}
.detail-outer {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.detail-inner {
  background: black;
  margin-left: 10px;
  width: 300px;
  height: 90%;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 2px 2px 20px #535bf2;
}

.detail-inner p {
  display: flex;
  gap: 10px;
}

.detail-inner p span:last-child {
  font-weight: bold;
  text-transform: capitalize;
}

.detail-inner img {
  width: 100%;
  border-radius: 10px;
}

.detail-inner p:last-child {
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.green {
  background: green;
}

.yellow {
  background: rgb(168, 168, 6);
}

.red {
  background: red;
}

.close-wrapper {
  background-color: #535bf2;
  display: flex;
  justify-content: end;
  border-radius: 8px;
  padding-right: 10px;
  font-size: 18px;
}

.close-wrapper button {
  background: none;
  padding: 0;
  transform: all 0.3s;
}

.close-wrapper button:hover {
  filter: drop-shadow(3px 3px 8px white);
}

@media (max-width: 650px) {
  .detail-outer {
    width: 100%;
  }
  .detail-inner {
    width: 100%;
    height: 100%;
    margin-left: 0;
    border-radius: 0;
  }
}

.loader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(0.5px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(15px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
